{# @deprecated ! Use render_datagrid() twig function instead with the template option #}
{% macro render(datagrid, viewParameters) %}
    {% import _self as current %}
    {{ current.deprecated() }}
{% endmacro %}

{% macro filter_actions(datagrid, viewParameters) %}
    {% import _self as current %}
    {{ current.deprecated() }}
{% endmacro %}

{% macro actions(datagrid, viewParameters) %}
    {% import _self as current %}
    {{ current.deprecated() }}
{% endmacro %}

{% macro table(datagrid, viewParameters) %}
    {% import _self as current %}
    {{ current.deprecated() }}
{% endmacro %}

{% macro deprecated() %}
    <div class="alert alert-danger" role="alert">
        <h3>The usage of this macro is deprecated</h3>
        <p>
            Instead of using the render(datagrid, viewParameters) macro, please use the render_datagrid() twig function.
        </p>
        <p>
            Search for 'SidusDataGridBundle:DataGrid:datagrid.html.twig' in your code
        </p>
        <p>
            You can override the template used by this function simply by setting the template option in the datagrid
            configuration
        </p>
    </div>
{% endmacro %}
